<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>  
  <DbProviderFactories>  
    <add name="Documentum Dql Client Provider"  
     invariant="Fme.DqlProvider"   
     description=".Net Framework Data Provider for Documentum"   
     type="Fme.DqlProvider.DqlProviderFactory"  
    />  
  </DbProviderFactories>  
</system.data> 
</configuration>